body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

.question {
    margin-top: 20px;
    font-size: 18px;
}

.option {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

#submit-answer {
    background-color: #9500ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

#submit-answer:hover {
    background-color: #8000e6;
}